.sp {
    display: none;
}
.top-img img {
    width: 100%;
    height: 500px;
}

/* header */

.header-main {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.header-logo {
    width: 20%;
    margin: 16px 0;
}
.header-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header-list li {
    list-style: none;
    width: 30%;
}

.header-list li a {
    text-decoration: none;
    color: #333;
}

    .top-img {
        position: relative;
    }
    
    .img-text {
        color: white;
        position: absolute;
        top: 50%;
        left: 10%;
        letter-spacing: 10px;
    }
    
    .kodate-text h2 {
        text-align: center;
        padding: 20px;
    }
    
    .kodate {
        display: flex;
        width: 80%;
        margin: auto;
        margin-left: 230px;
    }
    
    .kodate-content {
        width: 30%;
    }
    
    .kodate-card{
        width: 288px;
        height: 350px;
        border-radius: 0;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0,0,0,.2)
        }
        .card__imgframe{
        width: 100%;
        height: 200px;
        background: #bbb;
        box-sizing: border-box;
        }
        .card__imgframe img {
            width: 100%;
            height: 200px;
            
        }
        .card__textbox{
        width: 100%;
        height: 150px;
        padding: 20px 18px;
        background-color:#e9e1d4;;
        box-sizing: border-box;
        
        }
        .card__textbox > * + *{
        margin-top: 10px;
        }
        .card__titletext{
        font-size: 20px;
        font-weight: bold;
        line-height: 125%;
        text-align: center;
        border-bottom: #bbb solid 2px;
        padding-bottom: 10px;
        }

        .card__titletext1{
            font-size: 14px;
            font-weight: bold;
            line-height: 125%;
            text-align: center;
            border-bottom: #bbb solid 2px;
            padding-bottom: 10px;
            }

        
        .card__overviewtext{
        font-size: 14px;
        line-height: 150%;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        }

        .card__overviewtext1 {
            font-size: 12px;
            line-height: 150%;
            font-weight: bold;
            display : flex;
            flex-wrap: wrap;
            text-align: center;

        }

        .card__overviewtext1 p {
            padding: 0%;
            margin: 0%;
            width: 50%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .card__overviewtext2 {
            font-size: 14px;
            line-height: 150%;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .card__overviewtext2 p {
            padding: 0%;
            margin: 0%;  
            padding-bottom: 8px;  
            padding-left: 8px;
        }
    
        .mansyon-text h2 {
            text-align: center;
            padding: 20px;
            margin-top: 50px;
        }
    
        .flow-title h2 {
            padding:50px 30px 0 0;
            text-align: center;
        }

        .flow-contents {
            text-align: center;
        }

        .flow-item {
            position: relative;
        }
    
        .squea {
            width: 80%;
            padding-bottom: 25px;
            height: 130px;
        }

        .text-contents {
            position: absolute;
            top: 10px;
            left: 150px;

        }
        
        .text-left {
            width: 230px;
            height: 90px;
            position: relative;
            
        }
        
        .text-left p {
            padding: 0%;
            margin: 0%;
        }

        .text-left img {
            width: 150px;
            height: 60px;
            position: absolute;
            left: 20px;
            top: 10px;
            
            
        }

        .text-left h3 {
            text-align: left;
            font-weight: bold;
            letter-spacing: 5px;
            margin-top: 8px;
            margin-bottom: 0;
            margin-left: 10px;
            
            
            
        }

        .t2 {
            position: absolute;
            left: 150px;
            top: 50px;
            font-weight: bold;
            letter-spacing: 5px;
            
            
        }

        .text-icon {
            position: absolute;
            top: 13px;
            left: 220px;
            
        }

        .text-icon img {
            width: 70px;
            height: 70px;
        }

        .text-right {
            position: absolute;
            left: 320px;
            top: 10px;
            width: 500%;
            text-align: left;
            font-weight: bold;
            letter-spacing: 3px;
        }

        .t3 {
            position: absolute;
            left: 130px;
            top: 50px;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .t4 {
            position: absolute;
            left: 110px;
            top: 40px;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .t5 {
            position: absolute;
            top: 13px;
        }

@media screen and (max-width: 520px) {
    .sp {
        display: block;
    }
    .pc {
        display: none;
    }
    /* ハンバーガーメニュー */
    .header {
        padding: 8px;
    }
.menu-btn {
    position: fixed;
    top: 0px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #333;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }
  
  #menu-btn-check {
      display: none;
  }
  
  /* メニュー */
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
  }
  
  #menu-btn-check:checked ~ .menu-content {
      left: 0;/*メニューを画面内へ*/
  }
  /* ここまで */
        .top-img img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: right;
        }
        .img-text {
            font-size: 15px;
        }

        .kodate {
            display: block;
            width: 100%;
            margin: auto;
        }

        .kodate-content {
            width: 100%;
            margin: auto;
            margin-bottom: 20px;
        }

        .kodate-card {
            width: 90%;
            margin: auto;
        }

        .card__overviewtext1 p {
            font-size: 14px;
        }

        .flow-title h2 {
            text-align: center;
            width: 100%;
            padding: 0;
            padding-bottom: 30px;
            padding-top: 50px;
            box-sizing: border-box;
        }

        .squea {
            width: 98%;
            height: 200px;
        }

        .flow-item {
            position: relative;
        }

        .text-contents {
            position: absolute;
            left: 10px;
            top: 5px;
        }

        .flow-top-text-contents {
        }

        .mansyon-text h2 {
            box-sizing: border-box;
        }

        .text-left {
            font-size: 13px;
            font-weight: bold;
        }

        .text-icon {
            position: absolute;

        }

        .text-icon img {
            width: 80px;
            height: 80px;
        }

        .text-right {
            position: absolute;
            left: 0px;
            top: 100px;
            width: 100%;
            text-align: left;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 10px;
            border-top: gray 2px solid;
        }

        .text-right p {
            width: 80%;
            margin: 0 auto;
            margin-top: 8px;
        }

        .text-left img {
            width: 120px;
            height: 40px;
            position: absolute;
            left: 15px;
            top: 12px;
        }

        .t2 {
            position: absolute;
            left: 90px;
            top: 40px;
            font-weight: bold;
            letter-spacing: 3px;
        }

        .t3 {
            position: absolute;
            left: 90px;
            top: 40px;
            font-weight: bold;
            letter-spacing: 3px;
        }

        .t4 {
            position: absolute;
            left: 100px;
            top: 40px;
            font-weight: bold;
            letter-spacing: 3px;
        }
        .t5 {
            position: relative;
            top: 0;
        }
}