

    .top-img img {
        width: 100%;
        height: 500px;
        
    }
    
    .top-img {
        position: relative;
    }
    
    .img-text {
        color: white;
        position: absolute;
        top: 50%;
        left: 10%;
        letter-spacing: 10px;
    }
    
    .kodate-text h2 {
        text-align: center;
        padding: 20px;
    }
    
    .kodate {
        display: flex;
        width: 80%;
        margin: auto;
        margin-left: 230px;
    }
    
    .kodate-content {
        width: 30%;
    }
    
    .kodate-card{
        width: 288px;
        height: 350px;
        border-radius: 0;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0,0,0,.2)
        }
        .card__imgframe{
        width: 100%;
        height: 200px;
        background: #bbb;
        box-sizing: border-box;
        }
        .card__imgframe img {
            width: 100%;
            height: 200px;
            
        }
        .card__textbox{
        width: 100%;
        height: 150px;
        padding: 20px 18px;
        background-color:#e9e1d4;;
        box-sizing: border-box;
        
        }
        .card__textbox > * + *{
        margin-top: 10px;
        }
        .card__titletext{
        font-size: 20px;
        font-weight: bold;
        line-height: 125%;
        text-align: center;
        border-bottom: #bbb solid 2px;
        padding-bottom: 10px;
        }

        .card__titletext1{
            font-size: 14px;
            font-weight: bold;
            line-height: 125%;
            text-align: center;
            border-bottom: #bbb solid 2px;
            padding-bottom: 10px;
            }

        
        .card__overviewtext{
        font-size: 14px;
        line-height: 150%;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        }

        .card__overviewtext1 {
            font-size: 12px;
            line-height: 150%;
            font-weight: bold;
            display : flex;
            flex-wrap: wrap;
            text-align: center;

        }

        .card__overviewtext1 p {
            padding: 0%;
            margin: 0%;
            width: 50%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .card__overviewtext2 {
            font-size: 14px;
            line-height: 150%;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .card__overviewtext2 p {
            padding: 0%;
            margin: 0%;  
            padding-bottom: 8px;  
            padding-left: 8px;
        }
    
        .mansyon-text h2 {
            text-align: center;
            padding: 20px;
            margin-top: 50px;
        }
    
        .flow-title h2 {
            padding:50px 30px 0 0;
            text-align: center;
        }

        .flow-contents {
            text-align: center;
        }

        .flow-item {
            position: relative;
        }
    
        .flow-item img {
            width: 80%;
            padding-bottom: 25px;
            height: 130px;

        }

        .text-contents {
            position: absolute;
            top: 10px;
            left: 150px;

        }
        
        .text-left {
            width: 230px;
            height: 90px;
            position: relative;
            
        }
        
        .text-left p {
            padding: 0%;
            margin: 0%;
        }

        .text-left img {
            width: 150px;
            height: 60px;
            position: absolute;
            left: 20px;
            top: 10px;
            
            
        }

        .text-left h3 {
            text-align: left;
            font-weight: bold;
            letter-spacing: 5px;
            margin-top: 8px;
            margin-bottom: 0;
            margin-left: 10px;
            
            
            
        }

        .t2 {
            position: absolute;
            left: 150px;
            top: 50px;
            font-weight: bold;
            letter-spacing: 5px;
            
            
        }

        .text-icon {
            position: absolute;
            top: 13px;
            left: 220px;
            
        }

        .text-icon img {
            width: 70px;
            height: 70px;
        }

        .text-right {
            position: absolute;
            left: 320px;
            top: 10px;
            width: 500%;
            text-align: left;
            font-weight: bold;
            letter-spacing: 3px;
        }

        .t3 {
            position: absolute;
            left: 130px;
            top: 50px;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .t4 {
            position: absolute;
            left: 110px;
            top: 40px;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .t5 {
            position: absolute;
            top: 13px;
        }

    
       
    
        
    
        