.header-logo a {
  color: #333;
  text-decoration: none;
}

.header-main {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.header-logo {
  width: 20%;
  margin: 16px 0;
}
.header-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.header-list li {
  list-style: none;
  width: 30%;
}

.header-list li a {
  text-decoration: none;
  color: #333;
}
.hamburger-menu {
	display: none;
}

@media screen and (max-width: 520px) {
	.header-list ul {
        padding: 0;
    }
    .header-list {
        display: none;
    }
  /* ハンバーガーメニュー */
  .header {
	padding: 8px;
  }
  .hamburger-menu {
	 display: block;
  }
  .header-logo {
      font-size: 16px;
      width: 100%;
      margin: 8px 0;
  }
  .header-main {
      padding: 8px;
  }
  .menu-btn {
      position: fixed;
      top: 0px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 90;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #333;
      position: absolute;
  }
  .menu-btn span:before {
      bottom: 8px;
  }
  .menu-btn span:after {
      top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
	#menu-btn-check:checked ~ .menu-btn span::after {
		top: 0;
		transform: rotate(-45deg);
	}
  #menu-btn-check {
      display: none;
  }
  /* メニュー */
  .menu-content {
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      background-color: #3584bb;
  }
  .menu-content ul {
      padding: 70px 10px 0;
  }
  .menu-content ul li {
      border-bottom: solid 1px #ffffff;
      list-style: none;
  }
  .menu-content ul li a {
      display: block;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      color:#ffffff;
      text-decoration: none;
      padding: 9px 15px 10px 0;
      position: relative;
  }
  .menu-content ul li a::before {
      content: "";
      width: 7px;
      height: 7px;
      border-top: solid 2px #ffffff;
      border-right: solid 2px #ffffff;
      transform: rotate(45deg);
      position: absolute;
      right: 11px;
      top: 16px;
  }
  .menu-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;/*leftの値を変更してメニューを画面外へ*/
      z-index: 80;
      background-color: #3584bb;
      transition: all 0.5s;/*アニメーション設定*/
  }

  #menu-btn-check:checked ~ .menu-content {
      left: 0;/*メニューを画面内へ*/
  }
  /* ここまで */
}