@media screen  and (max-width:520px){
.pc {
  display: none!important;
}
.sp {
  display: block;
}

/* ハンバーガーメニュー */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

/* メニュー */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #3584bb;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
/* ここまで */
nav {
    display: block;
    width: 300px;
    top: 0;
    bottom: 0;
    /* transition: all 0.5s; */
    z-index: 11;
    opacity: 0;
  }
  
  .open nav {
    left: 0;
    opacity: 1;
  }
  
  nav .inner {
    padding: 25px;
  }
  
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 11;
    background-color: black;
  }
  
  .header {
    margin-top: 0;
    top: 20px;
    left: 55px;
  }

  .header__ul {
    flex-direction: column;
    width: auto;
  }
  
  .header__li_l {
    display: none;
  }
  
  nav .inner ul li {
    margin: 0;
    border-bottom: 1px solid #fff;
    width: 150px;
    padding: 10px;
    text-align: center;
  }
  
  nav .inner ul li a {
    display: block;
    transition-duration: 0.2s;
  }
  
  .toggle-btn {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    z-index: 100;
    cursor: pointer;
  }
  
  .toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: white;
    transition: all 0.5s;
    border-radius: 4px;
    z-index: 11;
  }
  
  .toggle-btn span:nth-child(1) {
    top: 4px;
  }
  
  .toggle-btn span:nth-child(2) {
    top: 14px;
  }
  
  .toggle-btn span:nth-child(3) {
    bottom: 4px;
  }
  
  .open .toggle-btn span {
    background-color: white ;
  }
  
  .open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  
  .open .toggle-btn span:nth-child(2) {
    opacity: 0;
  }
  
  .open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  
  #mask {
    display: none;
    transition: all 0.5s;
    z-index: 9;
  }
  
  .open #mask {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    cursor: pointer;
  }
  
  
  .title {
    position: absolute;
    left: 45px;
    top: 30px;
    font-size: 20px;
  }
  
  
  .content__img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  
  .corporate {
    text-align: center;
  }
  
  .content__tx {
    color: white;
    position: absolute;
    letter-spacing: 10px;
    top: 150px;
    left: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 250px;
  }
  .corporate-philosophy {
    margin-top: 740px;
  }
  
  .concept {
    letter-spacing: 5px;
    font-size: 23px;
    margin: 0;
    margin-left: 10px;
    width: 100%;
  }
  
  .concept-2 {
    width: 70%;
    margin: 64px 0;
    padding: 0 8px;
    text-align: center;
    font-size: 15px;
    min-height: 180px;
  }
  
  .concept-3 {
    width: 70%;
    margin: 80px 0 20px 0;
    margin-left: auto;
    margin-right: 0;
    font-size: 15px;
    min-height: 180px;
  }
  
  .concept__img {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .concept-img {
    position: absolute;
    object-fit: cover;
    width: 130px;
    height: 170px;
    margin: 130px 15px 0 0;
    top: -130px;
    right: 0px;
  }
  
  .concept-img2 {
    position: absolute;
    object-fit: cover;
    width: 120px;
    height: 140px;
    margin-top: 230px;
    margin-right: 108px;
    left: 50px;
    z-index: -1;
  }
  
  .hope {
    height: 720px;
    margin-top: 1480px;
  }
  
  .wish__tx {
    margin: 30px 0 0 0;
  }
  .renovation {
    display: flex;
    flex-wrap: wrap;
  }
  
  .renovation__style {
    width: 40%;
    margin-top: 30px;
  }
  
  .renovation__tx {
    font-size: 12px;
  }
  
  .construction {
    margin-top: 2000px;
  }
  
  .hope-btn {
    position: absolute;
    letter-spacing: 3px;
    width: 180px;
    height: 32px;
    font-size: 15px;
    margin-top: 35px;
    right: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px;
  }
  
  .construction {
    margin-top: 2230px;
  }
  
  .results {
    display: flex;
    justify-content: center;
  }
  
  .results__tx {
    margin-bottom: 40px;
  }
  
  .results__img {
    height: 200px;
    width: 30%;
    object-fit: cover;
  }

  
  .results__img3 {
    width: 0;
  }
  
  .recommendation {
    margin-top: 2600px;
  }
  
  .advice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .paragraph-headline {
    width: 100%;
  }
  
  .headline {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline 13px rgba(241, 95, 0, 0.25);
    text-underline-offset: -13px;
    text-align: center;
  }
  
  .contents__p {
    font-weight: 10;
    width: 100%;
    margin: 30px 0;
    padding: 0 16px;
    box-sizing: border-box;
  }
  
  .contents__img {
    width: 100%;
    height: 210px;
  }
  
  .contact {
    margin-top: 4100px;
    background-size: cover;
    background-position: 50%;
    min-height: 500px;
  }
  
  .contact-headline {
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.9) 5px 5px 10px;
  }
  
  .contact-contents {
    display: flex;
    flex-direction: column;
  }
  
  .contact__p {
    width: 85%;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.7) 5px 5px 7px;
  }
  
  .contact-link {
    margin-top: 30px;
  }
  
  .contact__a {
    margin-top: 30px;
    font-weight: bold;
  }
  
  .footer {
    margin-top: 4570px;
  }

 }