.header {
    height: 60px;
    background-color: #fff;
    width: 100%;
    position: relative;
}
.header-main {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    font-size: 10px;
    padding: 20px 40px;
}
.header-list ul {
    display: flex;
}
.header-list li {
    font-size: 10px;
    margin-right: 20px;
    align-items: center;
    list-style: none;
    margin-top: 4px;
}
.main {
    height: 640px;
}
.main-view {
    position: relative;
}
.main-view img {
    width: 100%;
    height: 280px;
    margin: 0 auto;
}
.main-view p {
    position: absolute;
    color: white;
    top: 34%;
    left: 50px;
}
.section-title {
    position: relative;
    text-align: center;
}
.title-item {
    position: absolute;
    left: 160px;
}
.section-contents {
    display: flex;
    flex-wrap: wrap;
}
.title-item img{
    width: 60%;
    display: flex;
    flex-flow: column;
}
.item-list {
    width: 50%;
    margin-top: 30px;
}
.item-list img {
    width: 140px;
}
.item-list p {
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Teko', sans-serif;
}
.text {
    text-align: center;
    margin-top: 120px;
}
.text p {
    font-size: 10px;
}
.text h3 {
    opacity: 0.5;
}
.footer {
    height: 120px;
    background-color: rgb(223, 134, 105);
    text-align: center;
}
.footer-text h3 {
    padding-top: 20px;
}
@media screen and (max-width: 480px) {

.header-list ul {
    padding: 0;
}    
.title-item {
    left: 40px;
}
.main {
    height: 580px;
}
.text {
    margin-top: 10px
}

}