body {
    width: 100%;
    margin: 0;
}
.header {
    height: 40px;
    background-color: #fff;
    width: 100%;
    position: relative;
}
.header-main {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    font-size: 10px;
    padding: 20px 40px;
    font-weight: 600;
    font-family: 'YuGothic',"游ゴシック体";
}
.header-list {
    
}
.header-list ul {
    display: flex;

}
.header-list li {
    font-size: 10px;
    margin-right: 20px;
    align-items: center;
    list-style: none;
    margin-top: 4px;
    font-family: 'YuGothic',"游ゴシック体";
    font-weight: 600;
    border-right: 2px solid rgb(212, 207, 207);
    padding: 1px 14px;
}
.main {
    /* height: 440px; */
}
.main-view {
    position: relative;
}
.main-view img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.main-view p {
    position: absolute;
    color: white;
    top: 34%;
    left: 50px;
    font-size: 24px;
    font-weight: 600;
}
.section-title {
    position: relative;
    text-align: center;
    font-family: 'YuGothic',"游ゴシック体";
}
.title-item {
    /* position: absolute;
    left: 148px; */
}
.section-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.title-item img{
    width: 60%;
    display: flex;
    flex-flow: column;
}
.item-list {
    width: 45%;
    margin: 20px auto;
    left: 40px;
}
.item-list img {
    width: 100%;
}
.item-list p {
    margin-top: 10px;
    font-size: 12px;
    font-family: 'YuGothic',"游ゴシック体";
    font-weight: 600;
}
.item-list span {
    font-size: 18px;
    font-family: 'YuGothic',"游ゴシック体";
}
.text {
    text-align: center;
    margin: 64px 0;
}
.text p {
    font-size: 10px;
}
.text h3 {
    color: #999999;
}
.footer {
    /* height: 120px; */
    padding: 32px 0;
    background-color: rgb(223, 134, 105);
    text-align: center;
}
.footer-text {
    width: 40%;
    margin: 0 auto;
 }
.footer-text p {
    padding-top: 20px;
    margin-bottom: 16px;
    font-weight: 100;
}

.text p {
    padding: 0 126px;
    font-family: 'YuGothic',"游ゴシック体";
    font-weight: 800;
}
.footer-text p {
    font-size: 10px;
    text-align: left;
    font-family: 'YuGothic',"游ゴシック体";
    
}
@media screen and (max-width: 520px) {

.header-list ul {
    padding: 0;
}  
.main-view p {
    left: 140px;
    font-size: 28px;
}  
.title-item {
    left: 40px;
}
.text {
    margin-top: 10px
}
.section-contents img {
    width: 100%;
}
.item-list {
    width: 100%;
}
.item-list img {
    margin: 0 auto;
}
.item-list p {
    margin: 10px auto;
}

}